* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: lightgray;
	padding: 50px 50px;
}

#container {
	max-width: 60%;
	font-family: monospace;
	text-align: center;
	margin: auto;
	border: 5px solid #999;
}
h1 {
	padding: 20px 10px 0px;
	font-family: 'Courier New';
	font-size: 36px;
}
h2 {
	padding: 10px 10px;
	font-family: 'Courier New';
	font-size: 24px;
}
p {
	padding: 10px 10px;
	font-size: 16px;
	padding: 0% 15%;
	line-height: 18px;
}
h3 {
	font-size: 18px;
	padding: 0px 10px 10px 10px;
}
li {
	list-style: none;
	padding-bottom: 10px;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: blue;
	display: block;
	font-size: 16px;
}
#links {
	padding-bottom: 20px;
}
