@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* utils */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	color: #333;
	line-height: 1.6;
	text-align: center;
	font-size: 18px;
}
ul {
	list-style: none;
}
a {
	color: #333;
	text-decoration: none;
	font-size: 20px;
}
.color-primary {
	background-color: #abc2e4;
	color: #fff;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
h1 {
	font-size: 44px;
	font-weight: 1;
}
h2 {
	font-size: 36px;
	font-weight: 1;
}
h3 {
	font-size: 24px;
	font-weight: 300;
}
ul li,
ul li a {
	font-weight: 300;
	text-align: center;
}

/* Flex */
.flex-items {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100%;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	justify-content: center;
}
.column-txt {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 25px;
}

/* navbar && header */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: .98;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0px;
	padding: 20px;
	transition: 0.3s ease-in;
	flex-direction: column;
}
.navbar a {
	color: #fff;
	padding: 10px 25px;
	margin: 0 25px;
	font-weight: 400;
	z-index: 20;
}

.navbar a:hover {
	border-bottom: #fff 2px solid;
}
.navbar ul {
	display: flex;
}
.navbar.top {
	background: transparent;
}
.hero {
	background: url('img/007(6).JPG') no-repeat center center/cover;
	height: 100vh;
	position: relative;
	color: #fff;
}
.hero .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding: 20px 20px;
}
.hero .content h1 {
	font-size: 55px;
	margin: 20px 0 0 0;
}
.hero::before {
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
}
.hero * {
	z-index: 10;
}

/* about  header */
.about-header {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.header-summary-container {
	border: #f5f5f5 2px solid;
	border-radius: 5px;
	padding: 25px 100px;
}

/* middle / skills etc  */
.top-border-container {
	border-top: #f5f5f5 1px solid;
}
.bottom-border-container {
	border-bottom: #f5f5f5 1px solid;
}
.education li {
	font-weight: 400;
}

/* calll back form */
.btn {
	cursor: pointer;
	display: inline-block;
	border: none;
	border-radius: 5px;
}
.btn:hover {
	opacity: 0.8;
}
.column-txt .form-top {
	border: #abc2e4 3px solid;
	border-radius: 5%;
	padding: 20px;
	margin: 25px;
}
.callback-form {
	width: 100%;
	padding: 20px 0;
}

.callback-form .form-control {
	margin-bottom: 15px;
}
.callback-form input {
	width: 90%;
	padding: 4px;
	height: 40%;
	border: #f5f5f5 1px solid;
	border-radius: 5px;
}
.callback-form .btn {
	padding: 12px 0;
	margin-top: 20px;
}
.contact h3 {
	margin-top: 10px;
}
.contact-content .email {
	padding-bottom: 15px;
}
.contact .column-img {
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

/* footer */
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 150px;
}
.footer a {
	color: #fff;
}

.footer .social > * {
	margin-right: 3px;
}

/* mobile */
@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		height: 70px;
		padding: 20px;
	}
	.navbar a {
		padding: 10px 10px;
		margin: 0 3px;
	}
	.flex-items {
		flex-direction: column;
	}
	.flex-columns .column,
	.flex-grid .columns {
		flex: 100%;
		max-width: 100%;
	}
	.about p {
		max-width: 80%;
		padding: 0 0;
		border: none;
		line-height: 1.6;
	}
	.hobby h2 {
		font-size: 30px;
	}
}
