/* Text colors */
.text-primary {
	color: #fff;
}
.btn {
	cursor: pointer;
	display: inline-block;
	padding: 10px 30px;
	color: #fff;
	background-color: #abc2e4;
	border: none;
	border-radius: 5px;
}
.btn:hover {
	opacity: 0.8;
}
.bg-primary {
	background: #abc2e4;
	color: #fff;
}

/* Flex Items */
.flex-items {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100%;
	flex-direction: column;
}
/* this makes non yt videos responsive >video > iframe for yt */
.flex-items h2 {
	padding-top: 30px;
}
.flex-items > div {
	padding: 20px;
}
/*Flex Columns */

.flex-columns .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.flex-columns .column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2 {
	height: 100%;
}
.flex-columns img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.flex-columns .column-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 45px;
}
.flex-columns .column-2 .form-top {
	justify-content: flex-start;
	align-items: flex-start;
	border: #abc2e4 3px solid;
	border-radius: 5%;
}

.flex-columns .column-2 .contact {
	padding-top: 20px;
	align-items: center;
	text-align: center;
}

.flex-columns h3 {
	font-size: 36px;
	font-weight: 100;
}

.flex-columns p {
	margin: 20px 0;
	font-size: 20px;
}

/* section header */
.section-header {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.section-header h2 {
	font-size: 40px;
	margin: 20px 0;
}
.section-header h3,
p {
	font-weight: 1;
}
.section-padding {
	padding: 20px 20px 40px;
}
